@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Inter", sans-serif;
  --font-mono: "Fira Code", monospace;
  --font-serif: "Lora", serif;
  --radius: 0.25rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --shadow-color: var(--shadow-color);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --background: oklch(0.2478 0 0);
  --foreground: oklch(0.9067 0 0);
  --card: oklch(0.285 0 0);
  --card-foreground: oklch(0.9067 0 0);
  --popover: oklch(0.285 0 0);
  --popover-foreground: oklch(0.9067 0 0);
  --primary: oklch(0.8058 0.1527 68.4276);
  --primary-foreground: oklch(0.1822 0 0);
  --secondary: oklch(0.7291 0.1265 210.8169);
  --secondary-foreground: oklch(0.1822 0 0);
  --muted: oklch(0.3485 0 0);
  --muted-foreground: oklch(0.7058 0 0);
  --accent: oklch(0.329 0 0);
  --accent-foreground: oklch(0.9067 0 0);
  --destructive: oklch(0.6539 0.1926 25.1437);
  --destructive-foreground: oklch(0.9851 0 0);
  --border: oklch(0.3791 0 0);
  --input: oklch(0.3485 0 0);
  --ring: oklch(0.8058 0.1527 68.4276);
  --chart-1: oklch(0.8058 0.1527 68.4276);
  --chart-2: oklch(0.7291 0.1265 210.8169);
  --chart-3: oklch(0.7536 0.1626 130.5022);
  --chart-4: oklch(0.9285 0.1803 102.4974);
  --chart-5: oklch(0.6455 0.1622 321.6136);
  --radius: 0.25rem;
  --sidebar: oklch(0.285 0 0);
  --sidebar-foreground: oklch(0.9067 0 0);
  --sidebar-primary: oklch(0.8058 0.1527 68.4276);
  --sidebar-primary-foreground: oklch(0.1822 0 0);
  --sidebar-accent: oklch(0.329 0 0);
  --sidebar-accent-foreground: oklch(0.9067 0 0);
  --sidebar-border: oklch(0.3791 0 0);
  --sidebar-ring: oklch(0.8058 0.1527 68.4276);
  --font-sans: "Inter", sans-serif;
  --font-serif: "Lora", serif;
  --font-mono: "Fira Code", monospace;
  --shadow-color: 0 0 0;
  --shadow-opacity: 0;
  --shadow-blur: 0;
  --shadow-spread: 0;
  --shadow-offset-x: 0;
  --shadow-offset-y: 0;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 0 0 0 hsl(0 0 0 / 0);
  --shadow-xs: 0 0 0 0 hsl(0 0 0 / 0);
  --shadow-sm: 0 0 0 0 hsl(0 0 0 / 0), 0 1px 2px -1px hsl(0 0 0 / 0);
  --shadow: 0 0 0 0 hsl(0 0 0 / 0), 0 1px 2px -1px hsl(0 0 0 / 0);
  --shadow-md: 0 0 0 0 hsl(0 0 0 / 0), 0 2px 4px -1px hsl(0 0 0 / 0);
  --shadow-lg: 0 0 0 0 hsl(0 0 0 / 0), 0 4px 6px -1px hsl(0 0 0 / 0);
  --shadow-xl: 0 0 0 0 hsl(0 0 0 / 0), 0 8px 10px -1px hsl(0 0 0 / 0);
  --shadow-2xl: 0 0 0 0 hsl(0 0 0 / 0);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.2478 0 0);
  --foreground: oklch(0.9067 0 0);
  --card: oklch(0.285 0 0);
  --card-foreground: oklch(0.9067 0 0);
  --popover: oklch(0.285 0 0);
  --popover-foreground: oklch(0.9067 0 0);
  --primary: oklch(0.8058 0.1527 68.4276);
  --primary-foreground: oklch(0.1822 0 0);
  --secondary: oklch(0.7291 0.1265 210.8169);
  --secondary-foreground: oklch(0.1822 0 0);
  --muted: oklch(0.3485 0 0);
  --muted-foreground: oklch(0.7058 0 0);
  --accent: oklch(0.329 0 0);
  --accent-foreground: oklch(0.9067 0 0);
  --destructive: oklch(0.6539 0.1926 25.1437);
  --destructive-foreground: oklch(0.9851 0 0);
  --border: oklch(0.3791 0 0);
  --input: oklch(0.3485 0 0);
  --ring: oklch(0.8058 0.1527 68.4276);
  --chart-1: oklch(0.8058 0.1527 68.4276);
  --chart-2: oklch(0.7291 0.1265 210.8169);
  --chart-3: oklch(0.7536 0.1626 130.5022);
  --chart-4: oklch(0.9285 0.1803 102.4974);
  --chart-5: oklch(0.6455 0.1622 321.6136);
  --radius: 0.25rem;
  --sidebar: oklch(0.285 0 0);
  --sidebar-foreground: oklch(0.9067 0 0);
  --sidebar-primary: oklch(0.8058 0.1527 68.4276);
  --sidebar-primary-foreground: oklch(0.1822 0 0);
  --sidebar-accent: oklch(0.329 0 0);
  --sidebar-accent-foreground: oklch(0.9067 0 0);
  --sidebar-border: oklch(0.3791 0 0);
  --sidebar-ring: oklch(0.8058 0.1527 68.4276);
  --font-sans: "Inter", sans-serif;
  --font-serif: "Lora", serif;
  --font-mono: "Fira Code", monospace;
  --shadow-color: 0 0 0;
  --shadow-opacity: 0;
  --shadow-blur: 0;
  --shadow-spread: 0;
  --shadow-offset-x: 0;
  --shadow-offset-y: 0;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 0 0 0 hsl(0 0 0 / 0);
  --shadow-xs: 0 0 0 0 hsl(0 0 0 / 0);
  --shadow-sm: 0 0 0 0 hsl(0 0 0 / 0), 0 1px 2px -1px hsl(0 0 0 / 0);
  --shadow: 0 0 0 0 hsl(0 0 0 / 0), 0 1px 2px -1px hsl(0 0 0 / 0);
  --shadow-md: 0 0 0 0 hsl(0 0 0 / 0), 0 2px 4px -1px hsl(0 0 0 / 0);
  --shadow-lg: 0 0 0 0 hsl(0 0 0 / 0), 0 4px 6px -1px hsl(0 0 0 / 0);
  --shadow-xl: 0 0 0 0 hsl(0 0 0 / 0), 0 8px 10px -1px hsl(0 0 0 / 0);
  --shadow-2xl: 0 0 0 0 hsl(0 0 0 / 0);
}

@layer base {
  body {
    letter-spacing: var(--tracking-normal);
  }
}
